.boxitm {
    overflow:hidden;
    position:relative;
    position: absolute; 
	bottom: 0px;
	right: 0px;
	text-align: center;
	width: 200px;
	height: auto; 
	margin: 10px;
	font-size: 18px;
	text-decoration-line: center;
	background-size: 60px; 
	background-color: #ddffdd;
	border: 2px solid #4CAF50;
	border-radius: 10px;
	padding: 10px;
	z-index: 55;
}
.boxitm {
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;} 
}
